<section data-ng-controller="SuscripcionsController">
    <div class="page-header">
        <h1>Crear Suscripcion</h1>
        <h3>Elige la suscripción que deseas obtener</h3>
    </div>
    <div class="col-md-12">
        <div class="susmen">
            <h2>Suscripcion Mensual</h2>
            <p>Con esta suscripción podras tener acceso a todos los cursos durante un mes</p>
            <a mp-mode="dftl" href="https://www.mercadopago.com/mlm/debits/new?preapproval_plan_id=d3131ac2e1ce400c80b9cc943635d2c6" name="MP-payButton" class="blue-l-rn-ar">Suscribirme</a>
            <script type="text/javascript">
                (function(){function $MPBR_load(){window.$MPBR_loaded !== true && (function(){var s = document.createElement("script");s.type = "text/javascript";s.async = true;s.src = ("https:"==document.location.protocol?"https://www.mercadopago.com/org-img/jsapi/mptools/buttons/":"http://mp-tools.mlstatic.com/buttons/")+"render.js";var x = document.getElementsByTagName('script')[0];x.parentNode.insertBefore(s, x);window.$MPBR_loaded = true;})();}window.$MPBR_loaded !== true ? (window.attachEvent ?window.attachEvent('onload', $MPBR_load) : window.addEventListener('load', $MPBR_load, false)) : null;})();
            </script>
        </div>
        <div class="susanu">
            <h2>Suscripcion Anual</h2>
            <p>Con esta suscripción podras tener acceso a todos los cursos todo el año</p>
            <a mp-mode="dftl" href="https://www.mercadopago.com/mlm/debits/new?preapproval_plan_id=ad9e9bf8dc1e47e4958a26c9deeaae0b" name="MP-payButton" class="green-l-rn-ar">Suscribirme</a>
            <script type="text/javascript">
                (function(){function $MPBR_load(){window.$MPBR_loaded !== true && (function(){var s = document.createElement("script");s.type = "text/javascript";s.async = true;s.src = ("https:"==document.location.protocol?"https://www.mercadopago.com/org-img/jsapi/mptools/buttons/":"http://mp-tools.mlstatic.com/buttons/")+"render.js";var x = document.getElementsByTagName('script')[0];x.parentNode.insertBefore(s, x);window.$MPBR_loaded = true;})();}window.$MPBR_loaded !== true ? (window.attachEvent ?window.attachEvent('onload', $MPBR_load) : window.addEventListener('load', $MPBR_load, false)) : null;})();
            </script>
        </div>
    </div>
</section>